{% render 'partials/head.liquid' %}
<main>
    <!--Dit is de container van de cadeau-ideeën-->
    <section class="giftContainer">


{% for gift in gifts | compact %}
    <article class="giftCard">
        <img class="giftImage" src="{{ gift.image }}" alt="Foto van {{ gift.slug }}">
        <p class="giftName">{{ gift.name }}</p>
        <p class="giftAmount">€{{ gift.amount }}</p>
        <form method="post" action="/saveGift">
            <label><input name="giftId" value="{{ gift.id }}" hidden></label>
            <button class="saveGiftButton" type="submit">Opslaan</button>
        </form>
    </article>
{% endfor %}

</section>
</main>
{% render 'partials/foot.liquid' %}